[Unit]
Description=vsftpd

[Container]
Image=vsftpd.build
Network=host

Volume={{service_path}}/vsftpd.conf:/vsftpd.conf:ro
Volume={{service_path}}/data:/data
Volume={{service_path}}/logs:/logs

Secret=ftpusers

[Install]
WantedBy=multi-user.target
