[Unit]
Description=NGINX Reverse proxy

Wants=pihole.service
PartOf=pihole.service

Wants=syncthing.service
PartOf=syncthing.service

Wants=vaultwarden.service
PartOf=vaultwarden.service

Wants=grafana.service
PartOf=grafana.service

[Container]
Image=docker.io/nginx
HostName=nginx
Network=front.network
PublishPort=80:80/tcp
PublishPort=443:443/tcp

Volume={{service_path}}/conf.d:/etc/nginx/conf.d:ro
Volume={{service_path}}/www:/www:ro
Volume={{service_path}}/logs:/logs

Secret=ssl-key
Secret=ssl-cert

[Install]
WantedBy=pihole.service
WantedBy=syncthing.service
WantedBy=vaultwarden.service
WantedBy=multi-user.target
