[Unit]
Description=Gitea

[Container]
Image=docker.gitea.com/gitea:latest
HostName=gitea
Network=front.network

Environment=USER_UID=100000
Environment=USER_GID=100000

Volume={{service_path}}/data:/data
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

PublishPort=2222:22/tcp

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
