[Unit]
Description=Grafana

Wants=loki.service

[Container]
Image=docker.io/grafana/grafana
HostName=grafana
Network=back.network
Network=front.network
EnvironmentFile=/lab/grafana/config.env
Volume=/lab/grafana/data:/var/lib/grafana

Secret=grafana-admin-password
Environment=GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana-admin-password

[Install]
WantedBy=multi-user.target
