[Unit]
Description=PiHole

[Container]
Image=docker.io/pihole/pihole:latest
HostName=pihole
Network=front.network
PublishPort=10.1.0.2:53:53/tcp
PublishPort=10.1.0.2:53:53/udp
EnvironmentFile=/lab/pihole/config.env

Environment=WEBPASSWORD_FILE=/run/secrets/pihole-webpassword
Secret=pihole-webpassword
Volume=/lab/pihole/etc-pihole:/etc/pihole
Volume=/lab/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
AddCapability=NET_BIND_SERVICE
AddCapability=SYS_NICE
AddCapability=CHOWN

[Install]
WantedBy=multi-user.target
