[Unit]
Description=Tailscale

[Container]
Image=docker.io/tailscale/tailscale
HostName=tailscale
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun
Network=host
Environment=TS_STATE_DIR=/tailscale
Environment=TS_USERSPACE=1
EnvironmentFile=/lab/tailscale/config.env
Volume=/lab/tailscale/state:/tailscale

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
