[Unit]
Description=vsftpd

[Container]
Image=vsftpd.build
Network=host
Volume=/lab/vsftpd/vsftpd.conf:/vsftpd.conf:ro
Volume=/lab/vsftpd/data:/ftp
Volume=/lab/vsftpd/log:/var/log
Secret=ftpusers

[Install]
WantedBy=multi-user.target
