[Unit]
Description=vsftpd

[Container]
Image=vsftpd.build
HostName=vsftpd
PublishPort=20/tcp
PublishPort=21/tcp
PublishPort=21000-21100/tcp
Volume=/lab/vsftpd/vsftpd.conf:/vsftpd.conf:ro
Volume=/lab/vsftpd/data:/ftp

[Install]
WantedBy=multi-user.target
