[Unit]
Description=Vaultwarden

[Container]
AutoUpdate=registry
Image=docker.io/vaultwarden/server
HostName=vaultwarden
Network=front.network

Environment=DOMAIN=https://q0.ddns.net/vault/
Environment=SIGNUPS_ALLOWED=false

Volume={{service_path}}/data:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
