[Unit]
Description=Vaultwarden

[Container]
Image=docker.io/vaultwarden/server
HostName=vaultwarden
Network=front.network

Environment=DOMAIN=https://atlas/

Volume={{service_path}}/data:/data

[Install]
WantedBy=multi-user.target
